{# Example mappings literal expression taken from https://twig.symfony.com/doc/3.x/templates.html#literals #}
{# keys as string #}
{{ {foo: 'foo', bar: 'bar'} }}

{# keys as names (equivalent to the previous mapping) #}
{{ {foo: 'foo', bar: 'bar'} }}

{# keys as integer #}
{{ {2: 'foo', 4: 'bar'} }}

{# keys can be omitted if it is the same as the variable name #}
{% set nokey = {nokey} %}

{% set nokey = {no, key} %}
{# is equivalent to the following #}
{% set no_key = {no: no, key: key} %}

{% set foo = 'foo' %}

{# keys as expressions (the expression must be enclosed into parentheses) #}
{{ {(foo): 'foo', (1 + 1): 'bar', (foo ~ 'b'): 'baz'} }}

{% props theme = null, text = null %}

<div
    {{
    attributes.defaults({
        class: cva({
            base: 'alert shadow-md',
            variants: {
                theme: {
                    info: 'alert-info',
                    success: 'alert-success',
                    warning: 'alert-warning',
                    error: 'alert-error'
                }
            }
        }).apply({theme})
    })
    }}
></div>
